body{
    width: 70vw;
    margin: 0px auto;
    background-color:beige;
}
img{
    border-radius: 100px;
    width: 80%;
    display: block;
    margin: 0 auto;
}
h1{
    text-align: center;
    font-size:larger
}
h2{
    color: rgb(202, 8, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium; 
}
p{
    text-align: justify;
}
span{
    color: rgb(248, 29, 29);
}

nav ol{
    display: flex;
    justify-content: space-between;
    background-color: rgb(181, 72, 72);
    list-style: none;
    }

nav ol li a{
    text-decoration: none;
    color: rgb(255, 255, 255);   
}
ul li {
    display: inline-block;
    padding-right: 8em;
    background-color: brown;
        }
 ul li a{
            text-decoration: none;
            color: rgb(255, 255, 255)
        }
